/*global*/
:root{
    --primary:#ffcc00;

}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;

}
body{
    background-color: black;
    color:white;
    font-family: 'Lato', sans-serif;
}

img{
    max-width: 100%;
 
}
a{
    text-decoration: none;
}
h3{
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 3px;
    color: white;
    margin-bottom: 20px;
}
h3:hover{
    cursor: pointer;
    text-decoration: underline;
}
/*utlilites*/
.read-btn{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 5px;
    margin-top: 20px;
}

/*menu*/
nav.menu{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: white;
    align-items: center;
    justify-content: space-between;

}
nav.menu img{
    height:30px;
    padding-left: 20px;
}

.link-glass,.link-renew,.link-menu{
    display:none;
}
.link-login{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    font-size: 14px;
    color:black;

}
.link-subs{
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 12px;
    padding: 12px;
    transition: box-shadow .3s ease-in-out;
    
}

.link-subs:hover{
    cursor: pointer;
    color:black;
    box-shadow: inset 115px 0 0px 0px var(--primary);
    
    
    
}

.link-angles{
    color: black;

}
nav.menu a{
    margin-right: 20px;
}
/*header*/
header{
    text-align: center;
    height: 230px;
    font-weight: 300;
    font-size: 15px;
}
header h1{
    text-align: center;
    font-size: 45px;
    text-transform: uppercase;
    padding: 30px;
    
}
header p{
    font-size: 17px;
}
header span {
    text-decoration-color: #ffcc00;
    border-bottom: #ffcc00;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    
   
}
header p span:hover{
    background-color: #ffcc00;
    color:black
}
header div {
   padding-bottom: 25;
   border-bottom: 4px solid var();
   width: 6%;
   margin:0px auto;
}
.generalheading{
    padding: 50px 0 60px;
    text-align: center;
    color: black;
}

.generalheading__line{
    background-color: #ffcc00;
    height:4px;
    line-height: 0;
    margin: 21px auto 0;
    width: 30px;
    
}
/* news section*/
.main.main-container{
    width: 95%;
    margin: 10px auto;
}
.main-news{
    position: relative;/*parent*/
    margin-bottom: 20px;
}
.main-news-img{
    height: 420px;

}
.main-news-img img{
    height: 100%;

}
.main-news-text{
    position: absolute; /*child*/
    top: 100px;
    left: 20px;
}
p.title{
    font-size: 40px;
    font-weight: 700;
    color: white;
    letter-spacing: 2px;
}
.secondary-news{
    margin-bottom: 20px;
}
.secondary-news-img{
    height: 250px;

}
.secondary-news-img img{
    max-height: 100%;
   min-width: 100%;
}
.secondary-news-text{
    background-color: white;
    color: black;
    padding: 20px;
    margin-top: -5px;
}
.secondary-news-text h3{
    color: grey;
}
.secondary-news-text p{
    font-size: 24px;
    font-weight: 700;
}
/*todays-picks*/
.todays-pick-item{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.todays-pick-item img{
    width: 100px;
    height: 100px;
}
.todays-pick-item p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 70%;
}

.block{
    background-color: #ffcc00;
    content:"" ;
    display: block;
    flex: 0 0 5px;
    margin-bottom: 8px;
    margin-top: 8px;
    position: relative;
}